@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    height: 2px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffaf0e; /* Change to your preferred color */
    border-radius: 2px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-drawer {
    /* Ensures the drawer takes full height and is aligned to the right */
    position: fixed; /* or absolute, depending on your layout */
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px; /* or whatever width you prefer */
    z-index: 1000; /* Ensure it's above other content */
  }
  